
/*responsive desgin*/

/*common*/
* { margin: 0; padding: 0; }
body {
font: normal 100% Arial,Microsoft YaHei,"微软雅黑",STXihei, "华文细黑",Calibri,arial,sans-serif,SimSong;
}

img, object {width:100%; max-width: 100%; border: 0;}

span{font-family:Arial,Microsoft YaHei,"微软雅黑",STXihei, "华文细黑";}


ul,ul li{ list-style-type:none;}

input { outline: 0; }

input, textarea{
	color: #333333;
}

div,img,ul,li,p{ float: left;}

.floatL {
	float: left;display:inline;
}
.floatR {
	float: right; display:inline;
}
.clearB	{ 
	clear: both; 
}
.floatN{
 float: none;

}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*font*/
.b{ font-weight:bold;}

/*text color*/


.wrapper{ width: 100%; position: relative;}

